# Godot
.import/
.export/
.godot/
*.import

# Ignore addons (ne pas versionner les binaires et modules tiers)
addons/

# Editor backups / temp
*~
*.tmp

# IDE
.vscode/
.idea/

# Exports / binaries
*.exe
*.dll
*.so
*.dylib
*.wasm

# Textures auto-générées Godot 4.x
*_texture_0.png
*_Image_0.*
